{% extends "layout.html" %}
{% block content %}


<div class="col-md-12">
  <h1>Complex Query</h1>
  <p class="instruction">Search the Harmonizome by entering your query in the box below.</p>
  <p class="instruction">Not sure what, or how, to ask? Check out our examples below for some food for thought.</p>
  <br >
  <br >
  <br >
  <br >
  <br >
  <div class="col-md-12" align="center">
    <h4>What would you like to know:</h4>
    <br >
    {% include 'searchBar.html' %}
  </div>
  <div class="col-md-12" style="padding-top:40px; padding-left:250px">
    <div class="col-md-9">
      <div id="queryAssumptions">
        <div style="padding:20px;">
          <p>Assuming "LRRK2" is a gene | use as a <a href="#">protein</a> instead</p>
          <p>Assuming "Parkinsons" is Parkinson's Disease </p>
          <p>Assuming "Crohn's" is Crohn's Disease </p>
          <p>Assuming query "All Datasets" | use specific dataset <select><option>All DataSets</option></select> instead</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12"  style="padding-top:40px; padding-left:250px">
    <div class="col-md-9">
      <div id="queryInterpretaion">
        <div style="padding:20px;">
          <p><strong>Input interpretation:</strong></p>
          <table  id="queryResultsTable" style="font-size: 11px;">
            <tr>
              <td style="background-color:#e5e5e5"><a href="#">LRRK2 </a> (gene)</td>
              <td style="background-color:white;">in</td>
              <td style="background-color:#e5e5e5"><a href="#">Parkinson's</a> (disease)</td>
              <td>in</td>
              <td style="background-color:#e5e5e5"><a href="#">All Datasets</a></td>
            </tr>
          </table>
          <table  id="queryResultsTable" style="font-size: 11px;">
            <tr>
              <td style="background-color:#efefef">and</td>
            </tr>
          </table>
          <table  id="queryResultsTable" style="font-size: 11px;">
            <tr>
              <td><a href="#">LRRK2 </a> (gene)</td>
              <td style="background-color:white;">in</td>
              <td style="background-color:#e5e5e5"><a href="#">Crohn's</a> (disease)</td>
              <td>in</td>
              <td style="background-color:#e5e5e5"><a href="#">All Datasets</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12"  style="padding-top:40px; padding-left:250px; padding-bottom:50px;">
    <div class="col-md-9">
      <div id="queryResults">
        <div style="padding:20px;">
          <p><strong>Results:</strong></p>
          <table id="queryResultsTable">
            <thead>
              <th>Gene</th>
              <th>Disease</th>
              <th>Dataset</th>
              <th>Value</th>
            </thead>
            <tbody>
              <tr>
                <td style="background-color:#e5e5e5"><a href="#">LRRK2</a></td>
                <td style="background-color:#e5e5e5"><a href="#">Parkinson's</a></td>
                <td><a href="#">Human Phenotype Ontology</a></td>
                <td>+1</td>
              </tr>
              <tr>
                <td style="background-color:#e5e5e5"><a href="#">LRRK2</a></td>
                <td style="background-color:#e5e5e5"><a href="#">Parkinson's</a></td>
                <td><a href="#">Jesen Lab Diseases</a></td>
                <td>+1</td>
              </tr>
            </tbody>
          </table>
          <table id="queryResultsTable">
            <thead>
              <th>Gene</th>
              <th>Disease</th>
              <th>Dataset</th>
              <th>Value</th>
            </thead>
            <tbody>
              <tr>
                <td style="background-color:#e5e5e5"><a href="#">LRRK2</a></td>
                <td style="background-color:#e5e5e5"><a href="#">Crohn's</a></td>
                <td><a href="#">Human Phenotype Ontology</a></td>
                <td>+1</td>
              </tr>
              <tr>
                <td style="background-color:#e5e5e5"><a href="#">LRRK2</a></td>
                <td style="background-color:#e5e5e5"><a href="#">Crohn's</a></td>
                <td><a href="#">Jesen Lab Diseases</a></td>
                <td>+1</td>
              </tr>
            </tbody>
          </table>
          <div style="padding-top:20px;">
            <a href="#"><img src="{{ url_for('static', filename='images/downloadSmall.png') }}" height="20"> Downlad Results</img><a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-12" align="center" style="padding-top:150px;">
    <div class="col-md-4">
      <a href="#" style="color:black;">
        <div class="queryExample">
          <div class="queryExample-container">
            <h4>Example</h4>
            <strong>Gene expressed in Disese(s) or Phenotype(s)</strong>
            LRRK2 expressed in Parkinsons also expressed in Crohn's
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" style="color:black;">
        <div class="queryExample">
          <div class="queryExample-container">
            <h4>Example</h4>
            <strong>Gene expressed in Tissue expressed in Cell Line</strong>
            GPCRs that are normally expressed only in the brain, are highly expressed in cancer cell lines
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" style="color:black;">
        <div class="queryExample">
          <div class="queryExample-container">
            <h4>Example</h4>
            <strong>Drug Pathway Signiture Similarity</strong><br >
            Which drug has the most simlilar gene expression to the Alpha 6 Beta 4 signaling pathway
          </div>
        </div>
      </a>
    </div>
  </div> -->

</div>




{% endblock %}
