{% extends "layout.html" %}
{% block content %}
<!-- load D3js -->
<script src="//d3plus.org/js/d3.js"></script>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="col-md-12">
  <h1>Discover</h1>
  <br >
  <br >

  <div class="col-md-4">

    <h4 align="center">Selection #1</h4>

    <div class="form-group">
      <h5>Select Category</h5>
      <select class="form-control" name="category1" size="1">
        <option></option>
        <option>Gene</option>
        <option>Cell Line</option>
        <option>Drug</option>
      </select>
    </div>

    <div class="form-group">
      <h5>Select</h5>
      <select class="form-control" name="sub_category1" size="1">
        <option class="Sub1" id=""></option>
        {% for gene in genes %}
        <option class="Sub1" id="Gene">{{ gene[0] }}</option>
        {% endfor %}
        {% for cell_line in cell_lines %}
        <option class="Sub1" id="Cell Line">{{ cell_line[0] }}</option>
        {% endfor %}
        <option class="Sub1" id="Drug">Test Drug</option>
      </select>
    </div>

  </div>

  <div class="col-md-4">

    <h4 align="center">Selection #2</h4>

    <div class="form-group">
      <h5>Select Category</h5>
      <select class="form-control" name="category2" size="1">
        <option></option>
        <option>Gene</option>
        <option>Cell Line</option>
        <option>Drug</option>
      </select>
    </div>

    <div class="form-group">
      <h5>Select</h5>
      <select class="form-control" name="sub_category2" size="1">
        <option class="Sub2" id=""></option>
        {% for gene in genes %}
        <option class="Sub2" id="Gene">{{ gene[0] }}</option>
        {% endfor %}
        {% for cell_line in cell_lines %}
        <option class="Sub2" id="Cell Line">{{ cell_line[0] }}</option>
        {% endfor %}
        <option class="Sub2" id="Drug">Test Drug</option>
      </select>
    </div>

  </div>

  <div class="col-md-4">

    <h4 align="center">Selection #3</h4>

    <div class="form-group">
      <h5>Select Category</h5>
      <select class="form-control" name="category3" size="1">
        <option></option>
        <option>Gene</option>
        <option>Cell Line</option>
        <option>Drug</option>
      </select>
    </div>

    <div class="form-group">
      <h5>Select</h5>
      <select class="form-control" name="sub_category3" size="1">
        <option class="Sub3" id=""></option>
        {% for gene in genes %}
        <option class="Sub3" id="Gene">{{ gene[0] }}</option>
        {% endfor %}
        {% for cell_line in cell_lines %}
        <option class="Sub3" id="Cell Line">{{ cell_line[0] }}</option>
        {% endfor %}
        <option class="Sub3" id="Drug">Test Drug</option>
      </select>
    </div>

  </div>

<script>
  var c10 = d3.scale.category10();
  var svg = d3.select("body")
    .append("svg")
    .attr("width", 1200)
    .attr("height", 800);
</script>

<script>

  $(function(){
    $('option.Sub1').each(function() {
      $(this).hide();
    });
      // When your year changes...
    $('[name="category1"]').change(function(){
      var category = $(this).val();
      // window.alert($(this).val())
      $('option.Sub1').each(function() {
        var test = $(this).attr('id');
        if(test == category){
          $(this).show();
        }
        else {
          $(this).hide();
        }

          });
    });
  })

  $(function(){
    $('option.Sub2').each(function() {
      $(this).hide();
    });
      // When your year changes...
    $('[name="category2"]').change(function(){
      var category = $(this).val();
      // window.alert($(this).val())
      $('option.Sub2').each(function() {
        var test = $(this).attr('id');
        if(test == category){
          $(this).show();
        }
        else {
          $(this).hide();
        }

          });
    });
  })

  $(function(){
    $('option.Sub3').each(function() {
      $(this).hide();
    });
      // When your year changes...
    $('[name="category3"]').change(function(){
      var category = $(this).val();
      // window.alert($(this).val())
      $('option.Sub3').each(function() {
        var test = $(this).attr('id');
        if(test == category){
          $(this).show();
        }
        else {
          $(this).hide();
        }

          });
    });
  })

</script>

<script>
  $(function(){
    $('[name="sub_category1"]').change(function(){
      var category = $(this).val();
      // window.alert($(this).val())

      var data = {
           nodes: [{
             name: "A",
             x: 500,
             y: 300
           }
         ],

           links: [{
             source: 0,
             target: 1
           },
         ]

         };

     var nodes = svg.selectAll("node")
       .data(data.nodes)
       .enter()
       .append("circle")
       .attr("class", "node")
       .attr("cx", function(d) {
         return d.x
       })
       .attr("cy", function(d) {
         return d.y
       })
       .attr("r", 30)
       .attr("fill", function(d, i) {
         return c10(1);
       })
       // .call(drag);

        });
      })

      $(function(){
        $('[name="sub_category2"]').change(function(){
          var category = $(this).val();
          // window.alert($(this).val())

          var data = {
               nodes: [{
                 name: "A",
                 x: 700,
                 y: 100
               }
             ],

               links: [{
                 source: 0,
                 target: 1
               },
             ]

             };

         var nodes = svg.selectAll("node")
           .data(data.nodes)
           .enter()
           .append("circle")
           .attr("class", "node")
           .attr("cx", function(d) {
             return d.x
           })
           .attr("cy", function(d) {
             return d.y
           })
           .attr("r", 30)
           .attr("fill", function(d, i) {
             return c10(7);
           })
           // .call(drag);

            });
          })

          $(function(){
            $('[name="sub_category3"]').change(function(){
              var category = $(this).val();
              // window.alert($(this).val())

              var data = {
                   nodes: [{
                     name: "A",
                     x: 900,
                     y: 300
                   }
                 ],

                   links: [{
                     source: 0,
                     target: 1
                   },
                 ]

                 };

             var nodes = svg.selectAll("node")
               .data(data.nodes)
               .enter()
               .append("circle")
               .attr("class", "node")
               .attr("cx", function(d) {
                 return d.x
               })
               .attr("cy", function(d) {
                 return d.y
               })
               .attr("r", 30)
               .attr("fill", function(d, i) {
                 return c10(3);
               })
               // .call(drag);

                });
              })

</script>

{% endblock %}
