{% extends "layout.html" %}
{% block content %}
<div>
<h1>{{ gene.symbol }} <span class="note dataset">Gene</span></h1>
</div>
<div class="col-md-8">
  <br >
  <table class="table">
    <tr>
      <td class="col-md-2">
        Name
      </td>
      <td class="col-md-6">
        {{ gene.name }}
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        Description
      </td>
      <td class="col-md-6">
        {{ gene.description }}
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        Synonym(s)
      </td>
      <td class="col-md-6">
        {{ gene.synonyms }}
      </td>
    </tr>
    {% if gene.name_synonyms[0]  != '-' %}
    <tr>
      <td class="col-md-2">
        Name Synonym(s)
      </td>
      <td class="col-md-6">
        {{ gene.name_synonyms }}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td class="col-md-2">
        Old Symbol(s)
      </td>
      <td class="col-md-6">
        {{ gene.old_symbol }}
      </td>
    </tr>
    {% if gene.old_name[0]  != '-' %}
    <tr>
      <td class="col-md-2">
        Old Name(s)
      </td>
      <td class="col-md-6">
        {{ gene.old_name }}
      </td>
    </tr>
    {% endif %}
  </table>

  <table class="table">
    <tr>
      <td class="col-md-2">
        Chromosome
      </td>
      <td class="col-md-6">
        {{ gene.chromosome }}
      </td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <td class="col-md-2">
        Accession Number(s)
      </td>
      <td class="col-md-6">
        {{ gene.accession_numbers }}
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        Entrez Gene ID
      </td>
      <td class="col-md-6">
        <a href="http://www.ncbi.nlm.nih.gov/gene/{{ gene.entrez_gene_id.split('.')[0] }}">{{ gene.entrez_gene_id.split('.')[0] }}</a>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        Ensembl Gene ID
      </td>
      <td class="col-md-6">
        {{ gene.ensembl_gene_id }}
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        Pubmed ID(s)
      </td>
      <td class="col-md-6">
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ gene.pubmed_ids }}">{{ gene.pubmed_ids }}</a>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        RefSeq ID(s)
      </td>
      <td class="col-md-6">
        {{ gene.refseq_ids }}
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        Uniprot ID
      </td>
      <td class="col-md-6">
        {{ gene.uniprot_id }}
      </td>
    </tr>
  </table>
</div>

<div class="col-md-4">
  <h3>Stats</h3>
  <div class="col-md-4">
    <div id="association_metric"></div>
  </div>
  <div class="col-md-4">
    <div id="datasets_metric"></div>
  </div>
</div>

<div class="col-md-4">
  <br >
  <br >
  <h3>Access Data Programmatically</h3>
  <br >

  <div class="col-md-12" style="padding-bottom: 20px">
    <div class="col-md-6" align="center">
      <div class="card"  style="height:180px">
        <div class="card-container">
          <h5>JASON API</h5>
          <a href="http://amp.pharm.mssm.edu/Harmonizome/api/1.0/gene/{{gene.symbol}}" title="Access {{gene.symbol}} programmatically."><img src="{{ url_for('static', filename='images/rest-api.jpg') }}"  height="60" width="80" style="margin-top: 20px;"></img></a>
        </div>
      </div>
    </div>
    <div class="col-md-6" align="center">
      <div class="card"  style="height:180px">
        <div class="card-container">
          <h5>Download Associations</h5>
          <a href="http://amp.pharm.mssm.edu/Harmonizome/api/1.0/download/associations?gene={{gene.symbol}}" title="Download {{gene.symbol}} associations."><img src="{{ url_for('static', filename='images/download.png') }}"  height="70" width="70" style="margin-top: 20px;"></img></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-12">
  <h3>Description</h3>
  {% if gene.description != '-' %}
    <div style="margin-left: 10px;">{{ gene.description }}</div>
  {% else%}
    <div style="margin-left: 10px;">Sorry no description available at this time</div>
  {% endif %}
</div> -->

<!-- <div class="col-md-4">
  <h3>Top Functional Associations</h3>
  <div class="col-md-6">
    <h5>Top + Association</h5>
    {% for upAssociation in associations[0:10] %}
      {% if upAssociation.weight > 0 %}
        {{ upAssociation.attribute }} <br >
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-6">
    <h5>Top - Association</h5>
    {% for downAssociation in associations[-10:]%}
      {% if downAssociation.weight < 0 %}
        {{ downAssociation.attribute }} <br >
      {% endif %}
    {% endfor %}
  </div>
</div> -->

<div class="col-md-12">

  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>

  <h2>Functional Associations</h2>
  <p class="instruction">{{ gene.symbol }} has 2,535 functional associations with biological entities spanning 7 categories (molecular profile, chemical, functional term, phrase or reference, disease, phenotype or trait, structural feature, cell line, cell type or tissue, gene, protein or microRNA) extracted from 59 datasets.</p>
  <p class="instruction">Mouse over a bar to see the coreponding attribute and Standerdized value (a value between -1 and 1 indicating strength of association).</p>
  <p class="instruction">Click on a bar to go to that attribute's page.</p>
  <p class="instruction">Click on a the dataset name to go to the dataset page.</p>
  <br >
  <br >


  <div class="col-md-12">
    <div class="wrapper">
      <div class="container">
        <div class="download-page">
          <div class="table-responsive">
            <table class="table data-table">
              <thead>
                <tr>
                  <th>Dataset</th>
                  <th>Attributes</th>
                </tr>
              </thead>
                <tbody>
                  {% for dataset in datasets %}
                    <script>
                      var data=[
                        {% for association in associations %}
                          {% if association.dataset == dataset[0] %}
                            {name: '{{ association.attribute }}', value: {{ association.weight }}},
                          {% endif %}
                        {% endfor %}
                      ];
                      var id = '{{ dataset[0].split(' ')[0] }}'
                    </script>
                  <tr>
                    <td>
                      <a href='/harmonizome/datasetpage/{{ dataset[0] }}'>
                        {{ dataset[0] }}
                      </a>
                    </td>
                    <td id='{{ dataset[0].split(' ')[0] }}'>
                      <script type="text/javascript" src="{{ url_for('static', filename='js/geneSetBarChart.js') }}">
                      </script>
                    </td>
                  </tr>
                 {% endfor %}
               </tbody>
           </table>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script src="{{ url_for('static', filename='js/download-page.js') }}"></script>
    <script>
    	setupDataTable();
    </script>

</div>

<div class="col-md-12">
  <h2> Predicted Functional Associations</h2>
  <p class="instruction">Predicted Functional Associations across sevral datasets for {{ gene.symbol }}.</p>
  <p class="instruction">Mouse over a bar to see the coreponding attribute and Z-score of prediction.</p>
  <p class="instruction">Click on a bar to go to that attribute's page.</p>
  <p class="instruction">Click on a the dataset name to go to the dataset page.</p>
  <br >
  <br >

  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>

  <div class="col-md-12">
    <div class="wrapper">
      <div class="container">
        <div class="download-page">
          <div class="table-responsive">
            <table id="" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                          <th>Dataset</th>
                          <th>Attributes</th>
                        </tr>
                    </thead>
                    <tbody>
                      <script>
                        var data=[
                              {name: 'homocysteine metabolic process (GO:0050667)', value: 7.81420320},
                              {name: 'postsynaptic membrane organization (GO:0001941)', value: 6.76004906},
                              {name: 'microtubule nucleation (GO:0007020)', value: 6.12319079},
                              {name: 'regulation of plasminogen activation (GO:0010755)', value: 6.06824489},
                              {name: 'regulation of synapse structural plasticity (GO:0051823)', value: 5.85832974},
                              {name: 'folic acid-containing compound biosynthetic process (GO:0009396)', value: 5.73172207},
                              {name: 'cysteine metabolic process (GO:0006534)', value: 5.72365553},
                              {name: 'sulfur amino acid catabolic process (GO:0000098)', value: 5.70237078},
                              {name: 'epithelial to mesenchymal transition involved in endocardial cushion formation (GO:0003198)', value: 5.57857851},
                              {name: 'RNA splicing, via endonucleolytic cleavage and ligation (GO:0000394)', value: 5.54439961},
                              {name: 'tRNA splicing, via endonucleolytic cleavage and ligation (GO:0006388)', value: 5.54180456},
                              {name: 'synaptic vesicle maturation (GO:0016188)', value: 5.47244422},
                              {name: 'regulation of short-term neuronal synaptic plasticity (GO:0048172)', value: 5.41915343},
                              {name: 'positive regulation of synaptic transmission, dopaminergic (GO:0032226)', value: 5.40154923},
                        ];
                        var id = 'Test'
                      </script>
                      <tr>
                        <td>
                          <a href='#'>
                            Predicted biological processes (GO)
                          </a>
                        </td>
                        <td id='Test'>
                          <script type="text/javascript" src="{{ url_for('static', filename='js/geneSetBarChart.js') }}">
                          </script>
                        </td>
                      </tr>
                    </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
    <script>
      $(document).ready(function() {
          $('table.display').DataTable();
      } );
    </script>
  </div>

  <div class="col-md-12">

    <h2>Most similar genes based on co-expression</h2>
    <p class="instruction">Most Similar Genes to {{ gene.symbol }} based on.</p>
    <p class="instruction">Mouse over a bar to see the coreponding attribute and Person Correlation value of the Similarity.</p>
    <p class="instruction">Click on a bar to go to that attribute's page.</p>
    <p class="instruction">Click on a the dataset name to go to the dataset page.</p>
    <br >
    <br >
  </div>
  <div class="col-md-12">
    <div class="wrapper">
      <div class="container">
        <div class="download-page">
          <div class="table-responsive">
            <table id="" class="display" cellspacing="0" width="100%">
                    <thead>
                    </thead>
                    <tbody>
                      <script>
                        var data=[
                              {name: 'AFF2', value: 0.5878},
                              {name: 'CLASP2', value: 0.5378},
                              {name: 'HCN4', value: 0.4989},
                              {name: 'SHISA7', value: 0.4739},
                              {name: 'GM4202', value: 0.4644},
                              {name: 'ZFP738', value: 0.4559},
                              {name: 'CEP104', value: 0.4357},
                              {name: 'SRRM4', value: 0.4354},
                              {name: 'GLTSCR1', value: 0.4117},
                              {name: 'DRD1', value: 0.4109},
                              {name: 'GPR88', value: 0.4077},
                              {name: 'CELF2', value: 0.4049},
                              {name: 'HRH3', value: 0.4043},
                              {name: 'PDE1B', value: 0.4019},
                              {name: 'GNG7', value: 0.3989},
                              {name: 'ADCY5', value: 0.3946},
                              {name: 'PPP1R1B', value: 0.3918},
                              {name: '4931428F04RIK', value: 0.3889},
                              {name: 'ATCAY', value: 0.3834},
                              {name: 'TMEM35', value: 0.3826},
                              {name: 'PTPN5', value: 0.3784},
                              {name: 'RASD2', value: 0.372},
                              {name: 'DHX8', value: 0.3714},
                              {name: 'PDE10A', value: 0.3702},
                              {name: 'RGS9', value: 0.3654},
                        ];
                        var id = 'Test2'
                      </script>
                      <tr>
                        <td>
                          Similar Genes
                        </td>
                        <td id='Test2'>
                          <script type="text/javascript" src="{{ url_for('static', filename='js/geneSetBarChart.js') }}">
                          </script>
                        </td>
                      </tr>
                    </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
  </div>
  <script>
    $(document).ready(function() {
        $('table.display').DataTable();
    } );
  </script>


<div class="col-md-12">
  <div class="col-md-6">
  <h2>Tissue</h2>
  <p class="instruction">Mouse over a leaf node to get the mean quantile normalized log count value of {{ gene.symbol }} for that tissue.</p>
    <div id="tissueImage" style="padding-top:30px; padding-bottom:70px;">

      <script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>

      <script>
      var height = 800
      var width = 500
      var svg = d3.select("#tissueImage").append("svg")
      .attr("width", width)
      .attr("height", height)

      // Define the div for the tooltip
      var tool_tip = d3.tip()
        .attr("class", "d3-tip")
        .offset([-8, 0])
        .html(function(d) { return d.id.substring(d.id.lastIndexOf(".") + 1)+"<br > <br >"+ "2.8" });
        svg.call(tool_tip);

      var g2 = svg.append("g")
          .attr("transform", "translate(50,0)");

      var tree = d3.tree()
          .size([height, width - 160]);

      var stratify = d3.stratify()
          .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf(".")); });

      d3.csv("{{ url_for('static', filename='tissues.csv') }}", function(error, data) {
        if (error) throw error;

        var root = stratify(data)
            .sort(function(a, b) { return (a.height - b.height) || a.id.localeCompare(b.id); });

        var link = g2.selectAll(".link")
          .data(tree(root).links())
          .enter().append("path")
            .attr("class", "link")
            .attr("d", d3.linkHorizontal()
                .x(function(d) { return d.y; })
                .y(function(d) { return d.x; }));

        var node = g2.selectAll(".node")
          .data(root.descendants())
          .enter().append("g")
            .attr("class", function(d) { return "node" + (d.children ? " node--internal" : " node--leaf"); })
            .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
            .on("mouseover", function(d) {
              d3.select(this).attr("r", 10).style("fill", "blue");
              tool_tip.show(d);
            })
            .on("mouseout", function(d) {
              d3.select(this).attr("r", 5.5).style("fill", "black");
              tool_tip.hide();
            });

        node.append("circle")
            .attr("r", 2.5);

        node.append("text")
            .attr("dy", 3)
            .attr("x", function(d) { return d.children ? -8 : 8; })
            .style("text-anchor", function(d) { return d.children ? "end" : "start"; })
            .text(function(d) { return d.id.substring(d.id.lastIndexOf(".") + 1); });
      });

  </script>
  </div>
</div>

  <div class="col-md-6">
  <h2>Cell Line</h2>
  <p class="instruction">Mouse over a leaf node to get the mean quantile normalized log count value of {{ gene.symbol }} for that Cell Line.</p>
    <div id="CellLineImage" style="padding-top:30px; padding-bottom:70px;">
      <script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>
      <script>
      var height = 800
      var width = 500
      var svg = d3.select("#CellLineImage").append("svg")
      .attr("width", width)
      .attr("height", height)

      // Define the div for the tooltip
      var tool_tip = d3.tip()
        .attr("class", "d3-tip")
        .offset([-8, 0])
        .html(function(d) { return d.id.substring(d.id.lastIndexOf(".") + 1)+"<br > <br >"+ "2.8" });
        svg.call(tool_tip);

      var g = svg.append("g")
          .attr("transform", "translate(50,0)");

      var tree = d3.tree()
          .size([height, width - 160]);

      var stratify = d3.stratify()
          .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf(".")) });

      d3.csv("{{ url_for('static', filename='celllines.csv') }}", function(error, data) {
        if (error) throw error;

        var root = stratify(data)
            .sort(function(a, b) { return (a.height - b.height) || a.id.localeCompare(b.id); });

        var link = g.selectAll(".link")
          .data(tree(root).links())
          .enter().append("path")
            .attr("class", "link")
            .attr("d", d3.linkHorizontal()
                .x(function(d) { return d.y; })
                .y(function(d) { return d.x; }));

        var node = g.selectAll(".node")
          .data(root.descendants())
          .enter().append("g")
            .attr("class", function(d) { return "node" + (d.children ? " node--internal" : " node--leaf"); })
            .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
            .on("mouseover", function(d) {
              d3.select(this).attr("r", 10).style("fill", "blue");
              tool_tip.show(d);
            })
            .on("mouseout", function(d) {
              d3.select(this).attr("r", 5.5).style("fill", "black");
              tool_tip.hide();
            });


        node.append("circle")
            .attr("r", 2.5);

        node.append("text")
            .attr("dy", 3)
            .attr("x", function(d) { return d.children ? -8 : 8; })
            .style("text-anchor", function(d) { return d.children ? "end" : "start"; })
            .text(function(d) { return d.id.substring(d.id.lastIndexOf(".") + 1); });
      });

  </script>
  </div>
</div>
</div>
</div>


<script>
  var pie1 = new d3pie("association_metric", {
    "header": {
      "title": {
        "text": 2535,
        "fontSize": 18,
        "font": "Sans-serif"
      },
      "subtitle": {
        "text": "Associations",
        "color": "#999999",
        "fontSize": 12,
        "font": "Sans-serif"
      },
      "location": "pie-center",
      "titleSubtitlePadding": 10
    },
    "footer": {
      "text": "",
      "color": "#999999",
      "fontSize": 10,
      "font": "open sans",
      "location": "bottom-left"
    },
    "size": {
      "canvasHeight": 120,
      "canvasWidth": 120,
      "pieInnerRadius": "90%",
      "pieOuterRadius": "100%"
    },
    "data": {
      "sortOrder": "label-desc",

      "content": [
        {
          "value": {{ association_count }},
          "color": "#42f4a7"
        },
      ]

    },
    "labels": {
      "outer": {
        "format": "label-percentage2",
        "pieDistance": 10
      },
      "inner": {
        "format": "none"
      },
      "mainLabel": {
        "fontSize": 11
      },
      "percentage": {
        "color": "#999999",
        "fontSize": 11,
        "decimalPlaces": 0
      },
      "value": {
        "color": "#cccc43",
        "fontSize": 7
      },
      "lines": {
        "enabled": true,
        "color": "#777777"
      },
      "truncation": {
        "enabled": true
      }
    },
  });

  var pie1 = new d3pie("datasets_metric", {
    "header": {
      "title": {
        "text": 59,
        "fontSize": 18,
        "font": "Sans-serif"
      },
      "subtitle": {
        "text": "Data Sets",
        "color": "#999999",
        "fontSize": 12,
        "font": "Sans-serif"
      },
      "location": "pie-center",
      "titleSubtitlePadding": 10
    },
    "footer": {
      "text": "",
      "color": "#999999",
      "fontSize": 10,
      "font": "open sans",
      "location": "bottom-left"
    },
    "size": {
      "canvasHeight": 120,
      "canvasWidth": 120,
      "pieInnerRadius": "90%",
      "pieOuterRadius": "100%"
    },
    "data": {
      "sortOrder": "label-desc",

      "content": [
        {
          "value": {{ dataset_count }},
          "color": "#41bbf4"
        },
      ]

    },
    "labels": {
      "outer": {
        "format": "label-percentage2",
        "pieDistance": 10
      },
      "inner": {
        "format": "none"
      },
      "mainLabel": {
        "fontSize": 11
      },
      "percentage": {
        "color": "#999999",
        "fontSize": 11,
        "decimalPlaces": 0
      },
      "value": {
        "color": "#cccc43",
        "fontSize": 7
      },
      "lines": {
        "enabled": true,
        "color": "#777777"
      },
      "truncation": {
        "enabled": true
      }
    },
  });
</script>
{% endblock %}
