{% extends "layout.html" %}
{% block content %}


    <div class= landing-page>
      <div class="row">
        <div class="col-md-12 text-center">
          <image src="{{ url_for('static', filename='images/logo_100x87.png') }}">
          <h1 class="project-title">Harmonizome</h1>
          <p class="instruction">Search for genes or proteins and their functional terms extracted and organized from over a hundred publicly available resources. <a href="about#resources"><strong>Learn more</strong></a>.</p>
        </div>
      </div>


      {% include 'searchBar.html' %}



    <div class="row top-buffer text-center">
      <div class="col-md-12">
        <strong>Example searches</strong>
        <ul class="list-inline">
          <li>
            <a href="${Constant.SEARCH_URL}?q=achilles&m=example">achilles</a>
          </li>
          <li>
            <a href="${Constant.SEARCH_URL}?q=STAT3&m=example">STAT3</a>
          </li>
          <li>
            <a href="${Constant.SEARCH_URL}?q=breast+cancer&m=example">breast cancer</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
