{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
  <h1>Datasets</h1>
  <div class='col-sm-2' align="center">
    <div id="resource_metric"></div>
  </div>
  <div class='col-sm-2' align="center">
    <div id="dataset_metric"></div>
  </div>
  <div class='col-sm-2' align="center">
    <div id="interaction_metric"></div>
  </div>
  <div class='col-sm-6'>
    <br ><br >
    <p>
      <i>
        Click on a dataset to access its downloads. Click on a column header to
        sort the table by that column. <br >
        Type in the search bar to filter. <br >
        To download the data programmatically, use the <a href="">API</a> or this <a href="">Python script</a>.
      </i>
    </p>
  </div>
</div>
<hr>

<!-- <div id="Resources-row" class="container-fluid">

    <div class="container text-center"> -->
<div class="wrapper">
  <div class="container">
    <div class="download-page">
      <div class="table-responsive">
        <table class="table data-table">
          <col width="170">
          <col width="40">
          <col width="280">
          <col width="40">
          <col width="5">
          <col width="1">
          <thead>
            <tr>
              <th>Dataset</th>
              <th>Resource</th>
              <th>Description</th>
              <th>Category</th>
              <th>Attribute</th>
              <th>Views</th>
            </tr>
          </thead>
          <tbody>
            {% for dataset in datasets %}
                  <tr>
                    <td>
                      <a href='/harmonizome/datasetpage/{{ dataset.name }}'>
                        {{ dataset.name }}
                      </a>
                    </td>
                    <td>
                      <a href='/harmonizome/resourcepage/{{ dataset.resource }}'>
                        {{ dataset.resource }}
                      </a>
                    </td>
                    <td>
                      {{ dataset.description }}
                    </td>
                    <td>
                      {{ dataset.category }}
                    </td>
                    <td>
                      {{ dataset.sub_category }}
                    </td>
                    <td style="background-color:#f2f2f2" align="center">
                      <strong>{{ dataset.views }}</strong>
                    </td>
                  </tr>
            {% endfor %}
           </tbody>
         </table>
       </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/download-page.js') }}"></script>
<script>
	setupDataTable();
</script>

<script>
  var pie1 = new d3pie("resource_metric", {
    "header": {
      "title": {
        "text": "{{ 66 }}",
        "fontSize": 18,
        "font": "Sans-serif"
      },
      "subtitle": {
        "text": "Resources",
        "color": "#999999",
        "fontSize": 12,
        "font": "Sans-serif"
      },
      "location": "pie-center",
      "titleSubtitlePadding": 10
    },
    "footer": {
      "text": "",
      "color": "#999999",
      "fontSize": 10,
      "font": "open sans",
      "location": "bottom-left"
    },
    "size": {
      "canvasHeight": 150,
      "canvasWidth": 150,
      "pieInnerRadius": "75%",
      "pieOuterRadius": "85%"
    },
    "data": {
      "sortOrder": "label-desc",

      "content": [
        {
          "value": {{ 66 }},
          "color": "#41d9f4"
        },
      ]

    },
    "labels": {
      "outer": {
        "format": "label-percentage2",
        "pieDistance": 6
      },
      "inner": {
        "format": "none"
      },
      "mainLabel": {
        "fontSize": 11
      },
      "percentage": {
        "color": "#999999",
        "fontSize": 11,
        "decimalPlaces": 0
      },
      "value": {
        "color": "#cccc43",
        "fontSize": 7
      },
      "lines": {
        "enabled": true,
        "color": "#777777"
      },
      "truncation": {
        "enabled": true
      }
    },
    // "misc": {
    //   "colors": {
    //     "segmentStroke": "#000000"
    //   }
    // },
  });

  var pie2 = new d3pie("dataset_metric", {
    "header": {
      "title": {
        "text": "{{ 114 }}",
        "fontSize": 18,
        "font": "Sans-serif"
      },
      "subtitle": {
        "text": "Datasets",
        "color": "#999999",
        "fontSize": 12,
        "font": "Sans-serif"
      },
      "location": "pie-center",
      "titleSubtitlePadding": 10
    },
    "footer": {
      "text": "",
      "color": "#999999",
      "fontSize": 10,
      "font": "open sans",
      "location": "bottom-left"
    },
    "size": {
      "canvasHeight": 150,
      "canvasWidth": 150,
      "pieInnerRadius": "75%",
      "pieOuterRadius": "85%"
    },
    "data": {
      "sortOrder": "label-desc",

      "content": [
        {
          "value": {{ 114 }},
          "color": "#f441a6"
        },
      ]

    },
    "labels": {
      "outer": {
        "format": "label-percentage2",
        "pieDistance": 6
      },
      "inner": {
        "format": "none"
      },
      "mainLabel": {
        "fontSize": 11
      },
      "percentage": {
        "color": "#999999",
        "fontSize": 11,
        "decimalPlaces": 0
      },
      "value": {
        "color": "#cccc43",
        "fontSize": 7
      },
      "lines": {
        "enabled": true,
        "color": "#777777"
      },
      "truncation": {
        "enabled": true
      }
    },
    // "misc": {
    //   "colors": {
    //     "segmentStroke": "#000000"
    //   }
    // },
  });

  var pie3 = new d3pie("interaction_metric", {
    "header": {
      "title": {
        "text": 71927784,
        "fontSize": 14,
        "font": "Sans-serif"
      },
      "subtitle": {
        "text": "Interactions",
        "color": "#999999",
        "fontSize": 12,
        "font": "Sans-serif"
      },
      "location": "pie-center",
      "titleSubtitlePadding": 10
    },
    "footer": {
      "text": "",
      "color": "#999999",
      "fontSize": 10,
      "font": "open sans",
      "location": "bottom-left"
    },
    "size": {
      "canvasHeight": 150,
      "canvasWidth": 150,
      "pieInnerRadius": "75%",
      "pieOuterRadius": "85%"
    },
    "data": {
      "sortOrder": "label-desc",

      "content": [
        {
          "value": 100,
          "color": "#f4b942"
        },
      ]

    },
    "labels": {
      "outer": {
        "format": "label-percentage2",
        "pieDistance": 6
      },
      "inner": {
        "format": "none"
      },
      "mainLabel": {
        "fontSize": 11
      },
      "percentage": {
        "color": "#999999",
        "fontSize": 11,
        "decimalPlaces": 0
      },
      "value": {
        "color": "#cccc43",
        "fontSize": 7
      },
      "lines": {
        "enabled": true,
        "color": "#777777"
      },
      "truncation": {
        "enabled": true
      }
    },
    // "misc": {
    //   "colors": {
    //     "segmentStroke": "#000000"
    //   }
    // },
  });
</script>
{% endblock %}
